$fuente-titulo: normal 4vw 'Marcellus SC', serif;
$fuente-subtitulo: normal 2rem 'Marcellus', serif;
$fuente-textos: normal 0.95rem 'Alegreya Sans', sans-serif;
$color-oro: #C5A561;
$color-negro: #222222;
$color-blanco: #FFFFFF;
$color-bordo: #6B2314;
$color-oroClaro: #ebda6a;
$sombra-cajas: 3px 3px 5px 0px #222222;
$sombra-titulo: 2px 2px 2px #222222;
$caja-alto: 300px;


$breakpoint-celularAngosto: 575px;
$breakpoint-celular: 576px;
$breakpoint-tablet: 768px;
$breakpoint-escritorio: 992px;
$breakpoint-escritorioLargo: 1200px;
$breakpoint-escritorioLargoExtra: 1400px;

